 /* header {
     animation: headerEntry 600ms ease-out 50ms forwards;
 }

 @keyframes headerEntry {
     0% {
         opacity: 0;
         transform: translateY(-100px);
     }

     100% {
         opacity: 1;
         transform: translateY(0px);
     }
 } */
 .text-wrapper {
     overflow: hidden;
     display: inline-block;
 }

 #hero-section h1 {
     animation: headingEntry 400ms linear forwards;
 }

 @keyframes headingEntry {
     0% {
         transform: translateY(-250px);
     }

     100% {
         transform: translateY(0px);
     }
 }

 #hero-section h2 {
     opacity: 0;
     animation: subHeadingEntry 400ms ease-out 350ms forwards;
 }

 @keyframes subHeadingEntry {
     0% {
         transform: translateY(-100px);
     }

     100% {
         opacity: 100%;
         transform: translateY(0px);
     }
 }

 #hero-cta {
     transform: translateY(120px);
     animation: heroCtaEntry 400ms ease-out 350ms forwards;
 }

 @keyframes heroCtaEntry {
     0% {
         transform: translateY(120px);
     }

     100% {
         transform: translateY(0px);
     }
 }

 #hero-cta>div {
     transform: translateX(-600px);
     animation: heroCtaContentEntry 500ms ease-out 750ms forwards;
 }

 @keyframes heroCtaContentEntry {
     0% {
         opacity: 0;
         transform: translateX(-400px);
     }

     100% {
         opacity: 1;
         transform: translateX(0px);
     }
 }

 #hero-cta>button {
     transform: translateX(200px);
     animation: heroCtaButtonEntry 500ms ease-out 750ms forwards;
 }

 @keyframes heroCtaButtonEntry {
     0% {
         opacity: 0;
         transform: translateX(200px);
     }

     100% {
         opacity: 1;
         transform: translateX(0px);
     }
 }

 .scroll-track {
     animation: scroll-left 20s linear infinite;
 }

 @keyframes scroll-left {
     0% {
         transform: translateX(0%);
     }

     100% {
         transform: translateX(-100%);
     }
 }

 #courses-section h1,
 #courses-section>p,
 #quotes-section h1,
 #quotes-section>p,
 #joinNow-cta-section h2,
 .joinNow-cta-content {
     animation: HeadingScrolling linear;
     animation-timeline: view();
     animation-range: entry 0% cover 35%;
 }

 @keyframes HeadingScrolling {
     from {
         opacity: 0;
         scale: 0.5;
     }

     to {
         opacity: 1;
         scale: 1;
     }
 }

 .course-card {
     animation: cardSlideUp linear;
     animation-timeline: view();
     animation-range: entry 0% cover 35%;
 }

 @keyframes cardSlideUp {
     from {
         /* opacity: 0; */
         transform: translateY(300px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .quote-card {
     animation: quoteSlideUp linear;
     animation-timeline: view();
     animation-range: entry 0% cover 35%;
 }

 @keyframes quoteSlideUp {
     from {
         /* scale: 0.5; */
         transform: translateX(-100px);
     }

     to {
         /* scale: 1; */
         opacity: 1;
         transform: translateY(0);
     }
 }


 .courses-container .course-card:nth-child(1) {
     animation-range: entry 0% cover 30%;
 }

 .courses-container .course-card:nth-child(2),
 .quotes-container .quote-card:nth-child(1),
 .quotes-container .quote-card:nth-child(2) {
     animation-range: entry 0% cover 35%;

 }

 .courses-container .course-card:nth-child(3),
 .quotes-container .quote-card:nth-child(3),
 .quotes-container .quote-card:nth-child(4) {
     animation-range: entry 0% cover 40%;
 }

 .courses-container .course-card:nth-child(4) {
     animation-range: entry 0% cover 45%;
 }

 @media (max-width:1080px) {
     #hero-cta>div {
         transform: translateY(-600px);
         /* animation: heroCtaContentEntry 500ms ease-out 750ms forwards; */
     }

     @keyframes heroCtaContentEntry {
         0% {
             opacity: 0;
             transform: translateY(-600px);
         }

         100% {
             opacity: 1;
             transform: translateY(0px);
         }
     }

     #hero-cta>button {
         transform: translateY(200px);
         /* animation: heroCtaButtonEntry 500ms ease-out 750ms forwards; */
     }

     @keyframes heroCtaButtonEntry {
         0% {
             opacity: 0;
             transform: translateY(200px);
         }

         100% {
             opacity: 1;
             transform: translateY(0px);
         }
     }

     @keyframes cardSlideUp {
         from {
             /* scale: 0.5; */
             transform: translateX(-100px);
         }

         to {
             /* scale: 1; */
             opacity: 1;
             transform: translateY(0);
         }
     }


     .courses-container .course-card:nth-child(1),
     .courses-container .course-card:nth-child(2),
     .quotes-container .quote-card:nth-child(1),
     .quotes-container .quote-card:nth-child(2),
     .courses-container .course-card:nth-child(3),
     .courses-container .course-card:nth-child(4),
     .quotes-container .quote-card:nth-child(3),
     .quotes-container .quote-card:nth-child(4) {
         animation-range: entry 0% cover 25%;
     }
 }